.pytask.sqlite3

bld/
data/

*.pdf
*.html
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.sty
*.synctex(busy)
*.bak
*.dvi

.ipynb_checkpoints

__pycache__/
*.egg-info/
