.pytask.sqlite3

bld/
src/**/*.pdf

*.html
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.sty
*.synctex(busy)
*.bak
*.dvi

src/project/__pycache__/

src/project.egg-info/

.ipynb_checkpoints
